/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    /* Ajusta el tamaño de los elementos o el diseño según sea necesario */
    body {
        font-size: 14px;
    }

    .container {
        padding: 10px;
    }
}

/* Estilos adicionales para elementos específicos */

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
}

th {
    background-color: #f0f0f0;
}

/* Agrega más estilos según tus necesidades */

